.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards__container {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  gap: 60px 30px;
  justify-content: center;
  padding: 70px 0 28px 0;
}

.cards__container_path_saved {
  padding-bottom: 102px;
}

.cards__button-container {
  margin: 50px 0 80px;
}

.cards__button {
  border: none;
  width: 320px;
  padding: 9px 60px;
  border-radius: 6px;
  background-color: #F9F9F9;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  visibility: visible;
  cursor: pointer;

  &:hover {
    opacity: .8;
    transition: all .2s linear;
  }
}

.cards__button_hide {
  visibility: hidden;
}