.card {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.card__image-container {
  width: 360px;
  height: 201px;
  position: relative;
}

.card__image {
  width: inherit;
  height: inherit;
  background-color: salmon;
  border-radius: 6px;
  object-fit: cover;
  cursor: pointer;
}

.card__image-link {
  display: block;
  width: inherit;
  height: inherit;
}

.card__button {
  position: absolute;
  border: none;
  top: 14px;
  right: 14px;
  z-index: 1;
}

.card__button_hide {
  display: none;
}

.no-cursor {
  cursor: unset;
}

.card__save-button {
  display: block;
  width: 72px;
  font-size: 10px;
  font-weight: 400;
  line-height: .9;
  border-radius: 30px;
  background-color: #F9F9F9;
  padding: 6px 7px;
  border: none;
}

.card__save-icon {
  background: url(../../images/save_small.svg) no-repeat center;
  width: 21px;
  height: 21px;
}

.card__remove-icon {
  background: url(../../images/remove-icon.svg) no-repeat center;
  width: 21px;
  height: 21px;
}

.card__info {
  display: flex;
  padding: 0 14px;
  column-gap: 30px;
}

.card__title {
  margin: 0;
  width: 250px;
  font-size: 13px;
  font-weight: 500;
}

.card__duration {
  margin: 0;
  color: #A0A0A0;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: .9;
  padding: 3px 4px;
  border-radius: 3px;
  background-color: #F9F9F9;
  width: 44px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 820px) {
  .card {
    row-gap: 25px;
  }

  .card__image-container {
    width: 339px;
    height: 190px;
  }

  .card__info {
    padding: 0;
    justify-content: space-between;
    column-gap: 0;
  }
}

@media (max-width: 720px) {
  .card__image-container {
    width: 300px;
    height: 168px;
  }

  
}

@media (max-width: 650px) {
  .card__image-container {
    width: 339px;
    height: 190px;
  }
}

@media (max-width: 425px) {
  .card__image-container {
    width: 300px;
    height: 168px;
  }

  .card__button {
    top: 10px;
    right: 10px;
  }
}