.error {
  display: none;
  color: #FF004C;
  font-size: 11px;
  font-weight: 400;
}

.error_active {
  display: block;
}

.error_type_profile-input {
  margin-top: 5px;
}

@media (max-width: 425px) {
  .error {
    font-size: 10px;
  }
}