.root {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.page {
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
}

.button {
  &:hover {
    opacity: .8;
    transition: all .2s linear;
  }
}

.link {
  &:hover {
    opacity: .7;
    transition: all .2s linear;
  }

  &:link,
  &:visited {
    color: inherit;
  }
}