.about-project {
  padding: 110px 0;
}

.about-project__info {
  margin: 70px 0 110px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.about-project__column {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  max-width: 550px;
}

.about-project__heading {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.8px;
}

.about-project__text {
  margin: 0;
  line-height: 1.4;
}

.about-project__timeline {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.about-project__timeline-block {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.about-project__timeline-block_size_short {
  width: 228px;
}

.about-project__timeline-duration {
  padding: 9px 0;
  background-color: #F2F2F2;
  width: auto;
}

.about-project__timeline-duration_size_short {
  background-color: #000;
  color: #fff;
}
.about-project__timeline-caption {
  color: #A0A0A0;
  line-height: 1.2;
}

@media (max-width: 820px) {
  .about-project__info {
    column-gap: 30px;
    margin-bottom: 93px;
  }

  .about-project__column {
    row-gap: 22px;
  }

  .about-project__text {
    font-size: 12px;
    line-height: 1.5;
  }

  .about-project__timeline-block_size_short {
    width: 140px;
  }
}

@media (max-width: 540px) {
  .about-project__heading {
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .about-project__text {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-project__info {
    flex-direction: column;
    row-gap: 56px;
    margin: 60px 0;
  }

  .about-project__column {
    row-gap: 16px;
  }

  .about-project__timeline-block_size_short {
    width: 100px;
  }

  .about-project__timeline-block {
    font-size: 11px;
  }
}