.navigation__button {
  border: none;
  border-radius: 3px;
  font-weight: 500;
  background-color: #F9F9F9;
  padding: 8px 20px;
  color: #fff;
  cursor: pointer;

  &:hover {
    opacity: .8;
    transition: all .2s linear;
  }
}

.navigation__button_type_icon {
  border-radius: 6px;
  padding: 10px;
  margin-left: 13px;

  &:hover {
    opacity: 1;
  }
}

.navigation__button_type_icon_path_main {
  background-color: #000;
}

.navigation__button-icon {
  display: block;
  background: url(../../images/icon-account-black.svg) no-repeat center;
  width: 10px;
  height: 10px;
}

.navigation__button-icon_path_main {
  background: url(../../images/icon-account.svg) no-repeat center;
}